# Introduction to Big Data Project - Main Python File

In [4]:
# Check that jupyter lab points to your project's environment directory
import sys
sys.executable

'C:\\Users\\Adespotos\\anaconda3\\envs\\bigdata_env\\python.exe'

# Import Libraries

In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pymysql
import chardet
import csv
import re

# Read Dataset to a DataFrame

In [51]:
filepath_che = 'UPDATED CSV DATA - Intro to Big Data/Current health expenditure (% of GDP).csv'
filepath_wr = 'UPDATED CSV DATA - Intro to Big Data/People using at least basic drinking water services, rural (% of rural population).csv'
filepath_wu = 'UPDATED CSV DATA - Intro to Big Data/People using at least basic drinking water services, urban (% of urban population).csv'
filepath_sr = 'UPDATED CSV DATA - Intro to Big Data/People using safely managed sanitation services, rural (% of rural population).csv'
filepath_su = 'UPDATED CSV DATA - Intro to Big Data/People using safely managed sanitation services, urban (% of urban population).csv'
filepath_pop = 'UPDATED CSV DATA - Intro to Big Data/Population, total.csv'
filepath_ren = 'UPDATED CSV DATA - Intro to Big Data/Renewable energy consumption (% of total final energy consumption).csv'
filepath_gem = 'UPDATED CSV DATA - Intro to Big Data/Total greenhouse gas emissions including LULUCF (Mt CO2e).csv'

In [117]:
# Detect encoding
with open(filepath_pop, 'rb') as f:
    rawdata = f.read(10000)  # read first 10 KB
    result = chardet.detect(rawdata)
encoding = result['encoding']
confidence = result['confidence']
print(f"Detected encoding: {encoding} with confidence {confidence}.")

with open(filepath_pop, 'r', encoding=encoding) as che:
    lines = che.readlines()[4:]  # This is a list. Each element is a row
    cleaned_list = []
    for line in lines:
        line = line.replace('"', '').rstrip(',\n')
        line = re.sub(', ', ' ', line)
        cleaned_list.append(line)

data = [row.split(',') for row in cleaned_list]
# Create DataFrame
df = pd.DataFrame(data[1:], columns=data[0])  # first row as header

Detected encoding: UTF-8-SIG with confidence 1.0.

In [122]:
text = 'Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,'
text.split(',')

['Country Name',
 'Country Code',
 'Indicator Name',
 'Indicator Code',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '']

In [84]:
first_row_clean = first_row.replace('"', '')

In [85]:
first_row_clean

'Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,'

In [75]:
with open(filepath_pop, 'r', encoding=encoding) as f:
    reader = csv.reader(f)
    first_row = next(reader)
    print(first_row)

['Data Source,"World Development Indicators",']

In [69]:
result

{'encoding': 'UTF-8-SIG', 'confidence': 1.0, 'language': ''}

In [63]:
import pandas as pd



# Read file after skipping first 4 rows
with open(filepath_pop, 'r', encoding='utf-8') as f:
    lines = f.readlines()[4:]

# Remove all double quotes and strip trailing commas/newlines
cleaned_lines = [line.replace('"', '').rstrip(',\n') for line in lines]

# Split each line into columns
data = [line.split(',') for line in cleaned_lines]

# Determine maximum number of columns (some rows may have fewer)
max_cols = max(len(row) for row in data)

# Pad shorter rows with empty strings
data_padded = [row + ['']*(max_cols - len(row)) for row in data]

# Create DataFrame
df = pd.DataFrame(data_padded)

# Optionally, set the first row as header
df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)

print(df.head())

0                 Country Name Country Code Indicator Name Indicator Code  \
0                        Aruba          ABW     Population          total
1  Africa Eastern and Southern          AFE     Population          total
2                  Afghanistan          AFG     Population          total
3   Africa Western and Central          AFW     Population          total
4                       Angola          AGO     Population          total

0         1960       1961       1962       1963       1964       1965  ...  \
0  SP.POP.TOTL      54922      55578      56320      57002      57619  ...
1  SP.POP.TOTL  130075728  133534923  137171659  140945536  144904094  ...
2  SP.POP.TOTL    9035043    9214083    9404406    9604487    9814318  ...
3  SP.POP.TOTL   97630925   99706674  101854756  104089175  106388440  ...
4  SP.POP.TOTL    5231654    5301583    5354310    5408320    5464187  ...

0       2018       2019       2020       2021       2022       2023  \
0     108735     108908     109203     108587     107700     107310
1  640058741  657801085  675950189  694446100  713090928  731821393
2   35688935   36743039   37856121   39068979   40000412   40578842
3  440882906  452195915  463365429  474569351  485920997  497387180
4   30234839   31297155   32375632   33451132   34532429   35635029

0       2024
0     107359     107624
1  750503764  769294618
2   41454761   42647492
3  509398589  521764076
4   36749906   37885849

[5 rows x 72 columns]

In [64]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2018,2019,2020,2021,2022,2023,2024,,,
0,Aruba,ABW,Population,total,SP.POP.TOTL,54922,55578,56320,57002,57619,...,108735,108908,109203,108587,107700,107310,107359,107624,,
1,Africa Eastern and Southern,AFE,Population,total,SP.POP.TOTL,130075728,133534923,137171659,140945536,144904094,...,640058741,657801085,675950189,694446100,713090928,731821393,750503764,769294618,,
2,Afghanistan,AFG,Population,total,SP.POP.TOTL,9035043,9214083,9404406,9604487,9814318,...,35688935,36743039,37856121,39068979,40000412,40578842,41454761,42647492,,
3,Africa Western and Central,AFW,Population,total,SP.POP.TOTL,97630925,99706674,101854756,104089175,106388440,...,440882906,452195915,463365429,474569351,485920997,497387180,509398589,521764076,,
4,Angola,AGO,Population,total,SP.POP.TOTL,5231654,5301583,5354310,5408320,5464187,...,30234839,31297155,32375632,33451132,34532429,35635029,36749906,37885849,,

In [43]:
df_che = pd.read_csv(
    , 
    skiprows=3,
    sep=';'
)

df_wr = pd.read_csv(
    , 
    skiprows=3,
    sep=';'
)

df_wu = pd.read_csv(
    , 
    skiprows=3,
    sep=';'
)

df_sr = pd.read_csv(
    , 
    skiprows=3,
    sep=';'
)

df_su = pd.read_csv(
    , 
    skiprows=3,
    sep=';'
)

# df_pop = pd.read_csv(
#     ,
#     skiprows=4,
#     engine='python',      # safer parser
#     quotechar='"',        # handle quoted fields
#     skipinitialspace=True # remove spaces after commas
# )

df_en = pd.read_csv(
    , 
    skiprows=4,
    sep=','
)

df_em = pd.read_csv(
    , 
    skiprows=3,
    sep=';'
)

In [45]:
df_en

    Country Name,"Country Code","Indicator Name","Indicator Code","1960","1961","1962","1963","1964","1965","1966","1967","1968","1969","1970","1971","1972","1973","1974","1975","1976","1977","1978","1979","1980","1981","1982","1983","1984","1985","1986","1987","1988","1989","1990","1991","1992","1993","1994","1995","1996","1997","1998","1999","2000","2001","2002","2003","2004","2005","2006","2007","2008","2009","2010","2011","2012","2013","2014","2015","2016","2017","2018","2019","2020","2021","2022","2023","2024",
0    Aruba,"ABW","Renewable energy consumption (% o...
1    Africa Eastern and Southern,"AFE","Renewable e...
2    Afghanistan,"AFG","Renewable energy consumptio...
3    Africa Western and Central,"AFW","Renewable en...
4    Angola,"AGO","Renewable energy consumption (% ...
..                                                 ...
261  Kosovo,"XKX","Renewable energy consumption (% ...
262  Yemen, Rep.,"YEM","Renewable energy consumptio...
263  South Africa,"ZAF","Renewable energy consumpti...
264  Zambia,"ZMB","Renewable energy consumption (% ...
265  Zimbabwe,"ZWE","Renewable energy consumption (...

[266 rows x 1 columns]

In [39]:
df['Indicator Name'].value_counts()

Indicator Name
Current health expenditure (% of GDP)    266
Name: count, dtype: int64

In [ ]:
indicators_kept = ['']